document
html
    head
        link(rel="shortcut icon", href="/vendor/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body
        h1 welcome to basics
        include scripts
        block main-content